SampleProject/*.xcframework
*.xcframework.zip

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
Package.resolved
.swift-version
.swiftdeps

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
.DS_Store

## Pods - If you're using CocoaPods, you might want to ignore the Pods directory.
# Pods/